.shelf {
  position: relative;
  margin: auto;
  width: 800px;
  height: 20vh;
  margin-top: 10px;
  margin-bottom: 30px;
}

.shelf-body {
  height: 15px;
  background-color: #f86F7C;
  border-radius: 5px 5px 15px 15px;
  background: linear-gradient(0deg, rgb(64, 86, 92) 0%, hsla(202, 17%, 42%, 1) 100%);
  box-shadow: 0 5px 3px 0 rgba(0, 0, 20, 40%);
}

.records {
  display: flex;
  padding: 0 20px;
  flex-direction: row;
  justify-content: space-around;
  gap: 60px;
  z-index: -1;
}

@media (max-width: 768px) {
  .shelf-body {
    /* flex-direction: column; */
    border-radius: 0;
    width: 100%;
  }

  .shelf {
    width: 100%;
  }

}
