.shelf {
  position: relative;
  margin: auto;
  width: 800px;
  height: 20vh;
  margin-top: 10px;
  margin-bottom: 30px;
}

.shelf-body {
  height: 15px;
  background-color: #586F7C;
  background: linear-gradient(0deg, #424242 0%,  #5c5c5c 100%);
  box-shadow: 0 5px 3px 0 rgba(0, 0, 20, 40%);
  clip-path: polygon(0 0, 100% 0, 98% 100%, 2% 100%);
}


.records {
  display: flex;
  padding: 0 20px;
  flex-direction: row;
  justify-content: space-around;
  gap: 60px;
  z-index: -1;
}

@media (max-width: 768px) {
  .shelf-body {
    /* flex-direction: column; */
    border-radius: 0;
    width: 100%;
  }

  .shelf {
    width: 100%;
  }

}
